<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-5">
			</div>
			<div class="col-md-7">
			  <h1>Emilie Turns 2!!!</h1>
			  <br />
			  <p>
			  	<%= link_to 'RSVP Here', new_rsvp_path, :class => 'btn btn-primary btn-lg rsvp-btn' %>
			  </p>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-5">
		<div>
			<%= image_tag 'minnie.png', class: 'minnie-img minnie' %>
		</div>
	</div>
	<div class="col-md-7">
		<% @rsvps.reverse.each do |r| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong><%= r.name %></strong></h3>
			  </div>
			  <div class="panel-body">
			    <strong>Are you coming?</strong>
			    <% if r.attending == true %>
			    	I'll be there!
			    <% else %>
			    	I can't make it
			    <% end %>
			    <br />
			    <% if r.comment.length > 0 %>
			    	<strong>Comment:</strong>	<%= r.comment %>
			    	<br />
			    <% end %>
			    <br />
			    <div style="font-size:.75em"><%= time_ago_in_words(r.created_at) %> ago</div>
			  </div>
			  <!-- <div class="panel-footer" style="font-size:.75em">
			  	Updated <%= time_ago_in_words(r.created_at) %> ago
			  </div> -->
			</div>
		<% end %>
	</div>
</div>